<h1>New GIF</h1>

<% if @gif.errors.messages[:url] %>
  <p class="error">
    URL - <%= @gif.errors.messages[:url].first %>
  </p>
<% end %>
<% if @gif.errors.messages[:title] %>
  <p class="error">
    Title - <%= @gif.errors.messages[:title].first %>
  </p>
<% end %>
<%= form_for @gif do |f| %>

  <div style="display: inline"><%= f.label :url, "Url:" %>
  <%= f.text_field :url, @gif.errors.messages[:url].first ? {style: "border: 2px solid red;"} : {style: "border: 1px solid black;"} %><span style="color:red"><%= @gif.errors.messages[:url].first %></span></div><br>

  <%= f.label :title, "Title:" %>
  <%= f.text_field :title, @gif.errors.messages[:title].first ? {style: "border: 2px solid red;"} : {style: "border: 1px solid black;"} %><span style="color:red"><%= @gif.errors.messages[:title].first %></span><br>

  <%= f.submit "Create Gif" %>

<% end %>