<h1>New GIF</h1>

<% if @gif.errors.messages[:url] %>
  <p class="error">
    URL - <%= @gif.errors.messages[:url].first %>
  </p>
<% end %>
<% if @gif.errors.messages[:title] %>
  <p class="error">
    Title - <%= @gif.errors.messages[:title].first %>
  </p>
<% end %>
<%= form_for @gif do |f| %>

  <%= f.label :url %>
  <%= f.text_field :url %><br>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.submit "Create Gif" %>

<% end %>